@media screen and (max-width: 767px){
    .menu {
        display: none;
    }
    .social-list {
        display: none;
    }
    .page-header {
        padding-top: 20px;
        padding-bottom: 14px;
    }
.logotype{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}
    .logotype-icon {
        margin-left: 4px;
        fill: #FCF1E0;
        stroke: var(--accent-color);
    }
    .open-mobile-menu-btn{
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        stroke: var(--primary-color);
    }
    .page-header-container {
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}